# Not version controlled
backup/
decompilation/
tools/

# Dependencies
node_modules/

# Build output
dist/
build/
target/
*.tsbuildinfo
*.bin
*.uf2

# OS / editor
.DS_Store
Thumbs.db
*.swp

# Environment
.env
.env.local
